<!-- No puedo especificarle que el callback sea a mi controller - clientside -->
<div id="fb-root"></div>

<script src="//connect.facebook.net/en_US/all.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= Facebook::APP_ID %>', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.Event.subscribe('auth.login', function () {
      window.location = "http://google.com";
    });
  };
</script>

<div class="fb-login-button" scope="email,user_checkins">
  Login with Facebook
</div>