body {
  margin:0px;
  padding:0px;
  background-color: #E7EBF2;
}

#bluebar {
  border-bottom: 1px solid #133783;
  background-color: #3B5998;
  height: 28px;
  padding-top: 4px;
  width: 100%;
}

#title {
  width: 900px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  color: white;
}

#friends {
  width: 860px;
  height: 500px;
  overflow: auto;
  font-size: 12px;
  font-family: verdana;
}

.friend {
  width: 260px;
  padding: 5px;
  float: left;
  border: 1px solid #C4CDE0;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #E7EBF2;
}

.photo {
  width: 50px;
  height: 50px;
  float: left;
}

.description {
  width: 195px;
  height: 40px;
  vertical-align: middle;
  float: left;
  padding: 5px;
}

.subtitle {
  color: #999;
  font-weight: bold;
  font-size: 16px;
  background-color: #E7EBF2;
  padding: 4px;
  width: 100%;
  border-top: 1px solid #C4CDE0;
}

.label {
  color: #999;
  font-weight: bold;
  font-size: 13px;
  float: left;
  padding: 5px;
  text-align: right;
  min-width: 100px;
  width: 100px;
}

.label-info {
  color: #3B5998;
  float: left;
  padding: 5px;
  font-size: 13px;
  text-align: left;
  min-width: 100px;
  width: 100px;
}