#options {
  width: 400px;
  height: 100px;
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -50px;
}

#options div {
  float: left;
  height: 100px;
  width: 100px;
}
